<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>
  <body>
    <h1>{{title}}</h1>
    <div>
      {{#each paragraphs}}
        <p>{{this}}</p>
      {{/each}}
      <h4>{{reply}}</h4>
    </div>
  </body>
</html>
